.table {
  table-layout: fixed; 
  width: 100%;
}

.cell {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100px;
}

.fix {
  position: absolute;
  margin-left: -100px;
  width: 100px;
}

.outer {
  position: relative;
}

.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 400px; 
  margin-left: 100px;
}
